<div class="text-center my-4">
    <label>Nuestros productos</label>
    <h1>Pistachos y frutos secos sanjuaninos</h1>
</div>

<section class="card_container"> 
{{#if isValid}}
     {{#each docs }}
        <div class="card item" style="width: 18rem;">
        <img src="{{this.thumbnails}}" class="card-img-top" alt="{{this.title}}">
            <div class="card-header">
                ${{this.price}}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">{{this.description}}</p>
                <a href="http://localhost:8080/products/{{this._id}}" class="btn btn-primary">Ver detalles</a>
            </div>
             {{!-- <div class="card-footer text-body-secondary">
                Stock: {{this.stock}} unidades
            </div> --}}
        </div>
    {{/each}}
</section>

<section class="text-center my-4">
    {{#if hasPrevPage}}
    <a class="btn btn-primary" href={{this.prevLink}}><< Anterior </a>
            {{/if}}
            {{!-- numero de pagina --}}
            &nbsp;
            <span class="btn btn-primary disabled" aria-disabled="true">{{this.page}}</span>
            &nbsp;

            {{#if hasNextPage}}
            <a class="btn btn-primary" href={{this.nextLink}}>Siguiente >> </a>
    {{/if}} 
</section>

{{else}}
<footer class="text-center my-4">
    <h2>No hay productos para mostrar en este momento...</h2>
</footer>
{{/if}}
